#banner {
    padding-top: 8rem;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.92)), url(../../../public/image/banner1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5rem;
}
