.tools__card {
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        background-color: #fff;
        transform: translateY(-1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    }
}
