//dark theme
.dark {
    .getInTouch {
        background-color: #191c1d;
        .getInTouch__item {
            background-color: #131617;
            .getInTouch__icon {
                background: rgba(220, 79, 114, 0.1);
            }
        }
    }
}
